extends layout

block content
  h2 Test: #{type}
  form(action="/test/result", method="POST")
    input(type="hidden", name="type", value=type)
    .test-grid
      each char, i in chars
        .test-tile
          if type === 'kanji'
            h3 #{char.kanji}
            input(type="hidden", name="symbol_" + i, value=char.kanji)
          else if type === 'vocab'
            if char.kanji
              h3 #{char.kanji}
              input(type="hidden", name="symbol_" + i, value=char.kanji)
            else
              h3 #{char.kana}
              input(type="hidden", name="symbol_" + i, value=char.kana)
          else
            h3 #{char.symbol}
            input(type="hidden", name="symbol_" + i, value=char.symbol)
          input(type="text", name="answer_" + i, autocomplete="off", placeholder="Romanji")
    input(type="hidden", name="total", value=chars.length)
    button(type="submit") Submit Answers
